<h1>Check Your Server Status</h1>
<%= @response %>
<% @checks.each do |check| %>
      <% auth = {:username => 'stuff@logi-tek.net', :password => 'tina2000'}  %>
      <% query = {'host' => check.check_hostname, 'type' => 'http'} %>
      <% response = HTTParty.get('https://api.pingdom.com/api/2.0/single', headers: {"app-key" => "2j7igy6801oc1cw1yrm0xyozbsmx9p97"}, :basic_auth => auth, :query => query).body %>
      <% @response = JSON.parse(response).to_h %>
   <% end %>